<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width，initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="福利闪达！各种优惠福利闪达到您口袋！提供衣食住行各种优惠福利攻略,让您不错过一个优质的活动。" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <link href="~/Content/style.css" type="text/css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
           bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else{
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</head>
<body style="padding-top: 0px; padding-left:0px;padding-bottom:0px">
    @*<main>
        <div class="container-fluid" style="max-width:640px;min-width:320px;min-height:640px;text-align:center;background-image:url('http://www.mingshukeji.com.cn/images/welfareflash/background_home.jpeg')">
            <div>
                <div class="row">
                    <div class="col-xs-4" style="background-color:aquamarine;">
                        <button style="background-color:aquamarine;border:hidden;"><h6 class="text-center"><font color="red">菜单1</font></h6></button>
                    </div>
                    <div class="col-xs-4" style="background-color:burlywood;">
                        <button><h6 class="text-center"><font color="red">菜单2</font></h6></button>
                    </div>
                    <div class="col-xs-4" style="background-color:aquamarine;">
                        <button><h6 class="text-center"><font color="red">菜单3</font></h6></button>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </main>*@
    <main>
        <div class="container-fluid" style="max-width:640px;min-width:320px;min-height:540px;text-align:center;background-image:url('http://www.mingshukeji.com.cn/images/welfareflash/background_home.jpeg');">
            @RenderBody()
        </div>
    </main>
</body>
</html>
